<div class="alert alert-info" id="notice" align="center" role="alert">
  <%= notice %>
  <div>
    Detail záznamu
  </div>
</div>

<h2 align="center">Čo chcete ďalej urobiť so záznamom?</h2>
<div class="container">
<div class="row">
<div class="col-md-6" align="center">
  <div >
  <h3>Informácie o zázname:</h3>
  <% @info.attributes.each do |key, value| %>
      <%if key != "town_id" %>
        <p><%="#{key}: #{value}"%></p>
      <%else%>
          <p><%="town: #{@town}"%></p>
      <%end%>
  <%end%>
  </div>
</div>

<div class="col-md-6" align="center">

  <div data-toggle="tooltip" data-placement="top" title="Ste si istý, že chcete záznam vymazať?">
    <%= link_to 'Vymaž záznam', new_edit_path(:id => @id, type: @x), class: "btn btn-primary"%>
  </div>

      <%= form_tag(edit_edit_path(:id => @id), method: 'get')  do %>
      <h3 class="death line">Uprav záznam o úmrtiach</h3>
      <h3 class="birth line">Uprav záznam o narodeniach</h3>
      <h3 class="marriage line">Uprav záznam o sobášoch</h3>
      <h3 class="divorce line">Uprav záznam o rozvodoch</h3>
      <h3 class="migration line">Uprav záznam o migráciách</h3>

      <div data-toggle="tooltip" data-placement="top" title="Upravý rok. Momentálne sa nachádzajú roky od 1996 do 2016">
      <%= text_field_tag :year, nil, placeholder: "Zadaj rok" , class: "year line death birth marriage divorce migration"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Mesta (Databáza obsahuje aj všetky Slovenské obce)">
      <%= text_field_tag :town_id, nil,placeholder: "Zadaj mesto", class: "town line death birth marriage divorce migration"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Pohlavie vo formáte - Male alebo Female">
        <%= text_field_tag :gender, nil, placeholder: "Zadaj pohlavie", class: "gender line death birth migration" %>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý vek">
      <%= text_field_tag :age, nil, placeholder: "Zadaj vek", class: "age line death migration" %>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý počet vysťahovalcov">
      <%= text_field_tag :emigrants, nil,placeholder: "Zadaj počet vysťahovalcov", class: "emigrants line migration"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý počet prisťahovalcov">
      <%= text_field_tag :imigrants, nil,placeholder: "Zadaj počet prisťahovalcov", class: "imigrants line migration"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý dôvod. Formát: Zmena pracoviska, Sobas, Studium, Rozvod, Nasledovanie rodinneho prislusnika,
      Bytove dovody, Ine dovody">
        <%= text_field_tag :reason, nil, placeholder: "Zadaj dôvod", class: "reason line migration" %>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý vek matky">
      <%= text_field_tag :mother_age, nil, placeholder: "Zadaj vek matky", class: "mother_age line birth" %>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý počet">
        <%= text_field_tag :count, nil, placeholder: "Zadaj počet", class: "count line death birth divorce marriage"  %>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Pohlavie vo formáte - Male alebo Female">
      <%= text_field_tag :gender_file_a_petition, nil, placeholder: "Pohlavie podalo návrh", class: "gender_petition line divorce" %>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý vek ženy">
      <%= text_field_tag :women_age, nil,placeholder: "Zadaj vek ženy", class: "women_age line divorce"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý vek muža">
      <%= text_field_tag :man_age, nil,placeholder: "Zadaj vek muža", class: "man_age line divorce"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý rozhodnutie. Formát: Manzelstvo rozvedene, Navrh zamietnuty, Navrh vzaty spat, Ine rozhodnutie" >
        <%= text_field_tag :verdict, nil, placeholder: "Zadaj rozhodnutie", class: "verdict line divorce" %>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý trvanie">
        <%= text_field_tag :duration, nil,placeholder: "Zadaj dĺžku trvania", class: "duration line divorce"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý vek nevesty">
        <%= text_field_tag :bride_age, nil,placeholder: "Zadaj vek nevesty", class: "bride_age line marriage"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý vek ženícha">
        <%= text_field_tag :fiance_age, nil,placeholder: "Zadaj vek ženícha", class: "fiance_age line marriage"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="Upravý poradie. Formát: Prvy v poradi, Vyssieho poradia">
        <%= text_field_tag :mariage_count, nil,placeholder: "Zadaj podarie", class: "number line marriage"%>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="TIP: Stačí vyplniť polia, ktoré chceme upraviť">
        <%= submit_tag 'Uprav záznam o úmrtiach' , class: "btn-primary line death"%>
        <%= submit_tag 'Uprav záznam o narodeniach' , class: "btn-primary line birth"%>
        <%= submit_tag 'Uprav záznam o rozvodoch' , class: "btn-primary line divorce"%>
        <%= submit_tag 'Uprav záznam o migráciách' , class: "btn-primary line migration"%>
        <%= submit_tag 'Uprav záznam o sobášoch' , class: "btn-primary line marriage"%>
      </div>
      <%= hidden_field_tag(:town, @town) %>
        <%if @x == "deaths" then%>
    <script type="text/javascript" charset="utf-8">
        $(".death ").css("display", "block");
    </script>
          <%= hidden_field_tag(:type, 'deaths') %>
        <%end%>

        <%if @x == "births" then%>
    <script type="text/javascript" charset="utf-8">
        $(".birth ").css("display", "block");
    </script>
          <%= hidden_field_tag(:type, 'births') %>
        <%end%>

        <%if @x == "mariages" then%>
    <script type="text/javascript" charset="utf-8">
        $(".marriage ").css("display", "block");
    </script>
          <%= hidden_field_tag(:type, 'mariages') %>
        <%end%>

        <%if @x == "divorces" then%>
    <script type="text/javascript" charset="utf-8">
        $(".divorce ").css("display", "block");
    </script>
          <%= hidden_field_tag(:type, 'divorces') %>
        <%end%>

        <%if @x == "migrations" then%>
    <script type="text/javascript" charset="utf-8">
        $(".migration ").css("display", "block");
    </script>
          <%= hidden_field_tag(:type, 'migrations') %>
        <%end%>

    <% end %>
  <script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
</div>

</div>
</div>