<%if @x == "deaths" then%>
<h3 align="center">
  Údaj o úmrtiach, čo chcete s ním ďalej urobiť?
</h3>
    <div align="center">
      <%= link_to 'Vymaž záznam', new_edit_path(:id => @id, type: @x), class: "btn btn-primary"%>
    </div>
<%end%>

<%if @x == "births" then%>
    <h3 align="center">
      Údaj o narodeniach, čo chcete s ním ďalej urobiť?
    </h3>
    <div align="center">
      <%= link_to 'Vymaž záznam', new_edit_path(:id => @id, type: @x), class: "btn btn-primary"%>
    </div>
<%end%>

<%if @x == "mariages" then%>
    <h3 align="center">
      Údaj o sobášoch, čo chcete s ním ďalej urobiť?
    </h3>
    <div align="center">
      <%= link_to 'Vymaž záznam', new_edit_path(:id => @id, type: @x), class: "btn btn-primary"%>
    </div>
<%end%>

<%if @x == "divorces" then%>
    <h3 align="center">
      Údaj o rozvodoch, čo chcete s ním ďalej urobiť?
    </h3>
    <div align="center">
      <%= link_to 'Vymaž záznam', new_edit_path(:id => @id, type: @x), class: "btn btn-primary"%>
    </div>
<%end%>

<%if @x == "migrations" then%>
    <h3 align="center">
      Údaj o migráciách, čo chcete s ním ďalej urobiť?
    </h3>
    <div align="center">
      <%= link_to 'Vymaž záznam', new_edit_path(:id => @id, type: @x), class: "btn btn-primary"%>
    </div>
<%end%>
