<div class='container' align="center">
  <h3 class="element">Informácie o meste <%=@town.name%></h3>
</div>

<h4 class="element" align="center" style="padding-top: 20px;">Kategórie</h4>
<div align="center" id='buttons'>
  <%= link_to 'Narodenia', divorces_path(:divorces => @town.id), class: "btn btn-primary"%>
  <%= link_to 'Úmrtia', deaths_index_path(:deaths => @town.id), class: "btn btn-primary"%>
  <%= link_to 'Sobáše', marriages_index_path(:marriages => @town.id), class: "btn btn-primary"%>
  <%= link_to 'Rozvody', divorces_path(:divorces => @town.id), class: "btn btn-primary"%>
  <%= link_to 'Migrácia', divorces_path(:divorces => @town.id), class: "btn btn-primary"%>
</div>

<div class="container">
  <div class="col-sm-6">
    <%@dic.each do |k,v|%>
        <div class="row" align="">
         <div class="element col-sm-6"><%= k %>:</div>
         <div class="col-sm-6"><%= v %></div>
        </div>
    <%end%>
  </div>
  <div class="col-sm-6" align="center">
    <%= image_tag 'https:'+@picture, class: "buttons helper" %>
    <p class="element" id="buttons">Obrázok mesta <%=@town.name%></p>
  </div>
</div>

