<div align="center">
  <h3>Informácie o migráciách v meste <%=@town%> od roku 2010</h3>
</div>

<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChartMale);

    function drawChartMale() {
        var myJsArray = <%=raw @male%>;
        var data = google.visualization.arrayToDataTable(myJsArray);
        var options = {
            title: 'Počet vysťahovaných a prisťahovaných mužov',
            curveType: 'function',
            legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('male'));
        chart.draw(data, options);
    }

    google.charts.setOnLoadCallback(drawChartFemale);
    function drawChartFemale() {
        var myJsArray = <%=raw @female%>;
        var data = google.visualization.arrayToDataTable(myJsArray);
        var options = {
            title: 'Počet vysťahovaných a prisťahovaných žien',
            curveType: 'function',
            legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('female'));
        chart.draw(data, options);
    }

    google.charts.setOnLoadCallback(drawChartSr);
    function drawChartSr() {
        var myJsArray = <%=raw @sr%>;
        var data = google.visualization.arrayToDataTable(myJsArray);

        var options = {
            title: 'Prisťahovaní zo Slovenska a vysťahovaní na Slovensko',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('sr'));

        chart.draw(data, options);
    }

    google.charts.setOnLoadCallback(drawChartFgn);
    function drawChartFgn() {
        var myJsArray = <%=raw @fgn%>;
        var data = google.visualization.arrayToDataTable(myJsArray);
        var options = {
            title: 'Prisťahovaní zo zahraničia a vysťahovaní do zahraničia',
            curveType: 'function',
            legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('fgn'));
        chart.draw(data, options);
    }
</script>



<div class="container" align="center">
  <div id="male" style="width: 600px; height: 400px; margin-bottom: 50px;"></div>
  <div id="female" style="width: 600px; height: 400px; margin-bottom: 50px;"></div>
  <div id="sr" style="width: 600px; height: 400px; margin-bottom: 50px;"></div>
  <div id="fgn" style="width: 600px; height: 400px; margin-bottom: 50px;"></div>
</div>