<h2 align="center">Môžes filtrovať v kategóriách: Úmrtnosť - Pôrodnosť - Sobáše - Rozvody - Migrácia</h2>
<div class="container" align="center">
	<%= form_tag(years_path, method: 'get') do %>
	<%= text_field_tag :year, nil, placeholder: "Zadaj rok" %>
	<%= text_field_tag :town, nil,placeholder: "Zadaj mesto"%>
	<%= text_field_tag :gender, nil, placeholder: "Zadaj pohlavie" %>
      <%= select_tag(:demograf, options_for_select([['Úmrtnosť','umrtnost'],['Pôrodnosť','porodnost'],['Sobáše','sobase'],['Rozvody','rozvody'],['Migrácia','migracia']])) %>
	<%= submit_tag 'Filter' %>
	<% end %>
</div>

<% table = { :death => ["Rok", "Vek", "Počet", "Pohlavie", "Mesto"],
	:birth => ["Rok", "Vek matky", "Počet", "Pohlavie", "Mesto"],
	:marriage => ["Rok", "Vek nevesty", "Vek ženícha", "Počet", "Manželstvo v poradí", "Mesto"],
	:divorce => ["Rok", "Vek ženy", "Vek muža", "Počet", "Trvanie", "Pohlavie podalo návrh", "Verdikt", "Mesto"],
	:migration => ["Rok", "Vek", "Vysťahovalci", "Prisťahovalci", "Dôvod", "Pohlavie", "Mesto"] }%>


	<div class="container">
    <%if @type == :death then%>
		  <h1 align="center">Štatistiky Úmrtí</h1>
    <%elsif @type == :birth then%>
        <h1 align="center">Štatistiky narodení</h1>
        <%elsif @type == :marriage then%>
        <h1 align="center">Štatistiky sobášov</h1>
        <%elsif @type == :divorce then%>
        <h1 align="center">Štatistiky rozvodov</h1>
        <%elsif @type == :migration then%>
        <h1 align="center">Štatistiky migrácií</h1>
        <%else%>
        <h1 align="center">Príklad zobrazenia Štatistík</h1>
        <%end%>
	</div>
	<div class="span3">
		<table class="table">
			<thead>
				<tr>
          <th class="text-center col-md-2">Uprav</th>
					<% table[@type].each do |type|%>
					<th class="text-center col-md-2"><%= type %></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<%if @type == :death then%>
				<% @deaths.each do |death|%>
				<tr class="highlight-row">
          <td class="text-center col-md-2"><%= link_to 'Vybrať', edits_path(:id => death.id, :type => "deaths", :town => death.z), class: "btn btn-primary"%></td>
					<td class="text-center col-md-2"><%= death.year %></td>
					<td class="text-center col-md-2"><%= death.age %></td>
					<td class="text-center col-md-2"><%= death.count %></td>
					<td class="text-center col-md-2"><%= death.gender %></td>
					<td class="text-center col-md-2"><%= death.z%></td>

				</tr>
				<% end %>
				<% end %>

				<%if @type == :birth then%>
				<% @deaths.each do |death|%>
				<tr class="highlight-row">
          <td class="text-center col-md-2"><%= link_to 'Vybrať', edits_path(:id => death.id, :type => "births", :town => death.z), class: "btn btn-primary"%></td>
          <td class="text-center col-md-2"><%= death.year %></td>
					<td class="text-center col-md-2"><%= death.mother_age %></td>
					<td class="text-center col-md-2"><%= death.count %></td>
					<td class="text-center col-md-2"><%= death.gender %></td>
					<td class="text-center col-md-2"><%= death.z%></td>
				</tr>
				<% end %>
				<% end %>
				<%if @type == :marriage then%>
				<% @deaths.each do |death|%>
				<tr class="highlight-row">
          <td class="text-center col-md-2"><%= link_to 'Vybrať', edits_path(:id => death.id, :type => "mariages", :town => death.z), class: "btn btn-primary"%></td>
          <td class="text-center col-md-2"><%= death.year %></td>
					<td class="text-center col-md-2"><%= death.bride_age %></td>
					<td class="text-center col-md-2"><%= death.fiance_age %></td>
					<td class="text-center col-md-2"><%= death.count %></td>
					<td class="text-center col-md-2"><%= death.mariage_count %></td>
					<td class="text-center col-md-2"><%= death.z%></td>
				</tr>
				<% end %>
				<% end %>
				<%if @type == :divorce then%>
				<% @deaths.each do |death|%>
				<tr class="highlight-row">
          <td class="text-center col-md-2"><%= link_to 'Vybrať', edits_path(:id => death.id, :type => "divorces", :town => death.z), class: "btn btn-primary"%></td>
          <td class="text-center col-md-2"><%= death.year %></td>
					<td class="text-center col-md-2"><%= death.women_age %></td>
					<td class="text-center col-md-2"><%= death.man_age %></td>
					<td class="text-center col-md-2"><%= death.count %></td>
					<td class="text-center col-md-2"><%= death.duration%></td>
					<td class="text-center col-md-2"><%= death.gender_file_a_petition%></td>
					<td class="text-center col-md-2"><%= death.verdict%></td>
					<td class="text-center col-md-2"><%= death.z%></td>
				</tr>
				<% end %>
				<% end %>
				<%if @type == :migration then%>
				<% @deaths.each do |death|%>
				<tr class="highlight-row">
          <td class="text-center col-md-2"><%= link_to 'Vybrať', edits_path(:id => death.id, :type => "migrations", :town => death.z), class: "btn btn-primary"%></td>
          <td class="text-center col-md-2"><%= death.year %></td>
					<td class="text-center col-md-2"><%= death.age %></td>
					<td class="text-center col-md-2"><%= death.emigrants%></td>
					<td class="text-center col-md-2"><%= death.imigrants%></td>
					<td class="text-center col-md-2"><%= death.reason%></td>
					<td class="text-center col-md-2"><%= death.gender%></td>
					<td class="text-center col-md-2"><%= death.z%></td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
<br/>
<div class="span4" align="center">
  <table class="table">
    <thead>
    <tr>
      <th class="text-center col-md-2">Rok: </th>
      <% @years.each do |year|%>
          <th class="text-center col-md-2"><%= year.y %></th>
      <% end %>

    </tr>
    </thead>
    <tbody>
            <tr>
              <%if @type == :migration then%>
                  <td class="text-center col-md-2">Emigranti: </td>
              <%else%>
                  <td class="text-center col-md-2">Počet: </td>
              <% end %>
              <% @years.each do |year|%>
              <td class="text-center col-md-2"><%= year.x%></td>
              <% end %>
            </tr>
            <%if @type == :migration then%>
        <tr>
          <td class="text-center col-md-2">Imigranti: </td>
            <% @years.each do |year|%>
              <td class="text-center col-md-2"><%= year.i%></td>
            <% end %>
        </tr>
            <%end%>
    </tbody>
  </table>
</div>

<script>
    $("tr[data-link]").click(function() {
        window.location = $(this).data("link")
    })
</script>